body {
    margin: 2%;
    border: 1px solid black;
    background-color: #b3b3b3;
    text-align: center;
}

h1, h2 {
    color: #333;
}

#image {
    width: 575px;
    height: 650px;
    border: 5px solid black;
    margin: 0 auto;
    background-color: #8e68ff;
    background-image: url('');
    background-repeat: no-repeat;
    background-size: cover;
    color: #FFFFFF;
    text-align: center;
    line-height: 650px;
    font-size: 1.5rem;
    margin-bottom: 25px;
}

.gallery {
    display: flex;
    justify-content: center;
    gap: 10px;
    flex-wrap: wrap;
}

.preview {
    width: 10%;
    border: 5px solid black;
    cursor: pointer;
}

.preview:focus, .preview:hover {
    border-color: red;
}